.BlogCardShort {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid #000;
    margin-bottom: 21px;
    width: 273px;
    transition: opacity 0.2s ease;
}

.BlogCardShort:hover {
    opacity: 0.7;
}


.BlogCardShort .blog-title{
    font-size: 16px;
    font-weight: 500;
}


.BlogCardShort .blog-meta  {
    color: #545454;
    font-size: 12px;
    font-weight: 500;
}
