.inbox-container {
  display: flex;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
    height: 100%;
}

.users {
  width: 25%;
  background-color: #fff;
  padding: 20px 10px;
  border-right: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.chat-box {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  position: relative;
}

.chat-header {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.date-divider {
  background-color: #e0e0e0;
  color: #666;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
}

.messages-list {
  flex-grow: 1;
  padding: 50px 20px 20px 20px; /* Adjust padding to make space for the date divider */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}