body{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.portal-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.portal-content {
    display: flex;
    height: 100%;
}

.portal-main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
