.Blogs {
  display: flex;
  padding: 20px 25px;
  align-items: flex-start;
  font-family: Inter, sans-serif;
}

.filters {
  width: 25%;
}

.blog-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.most-viewd {
  width: 25%;
  border-left: 1px solid #000;
  padding-left: 20px;
  height: fit-content;
}

.most-viewd .title{
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline ;
  margin-bottom: 30px;
}